@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Ysabeau:wght@300&display=swap");

body {
  font-family: "Ysabeau", sans-serif;
  background-size: 100%;
}

header {
  padding: 5px 30px;
}

h1 {
  font-size: 55px;
  color: #5a5353;
  text-shadow: 2px 2px #777373;
}

/* main */

main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.score-h {
  font-size: 35px;
  margin: 15px;
  color: #ff6969;
  text-shadow: 1px 1px #fff;
}

/* leaderbosrd section */

.leaderboard {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  width: 40%;
}

.refresh {
  position: relative;
  bottom: 3px;
  left: 20px;
  color: #fff;
  background-color: #299934;
  border: none;
  border-radius: 4px;
}

.scoreCard {
  padding: 10px;
  border: 4px inset #277474;
  border-radius: 20px;
  opacity: 0.2;
  background-color: #49083e;
}

.users {
  margin: 10px;
  color: black;
  background-color: #90c5dc;
  border-radius: 10px;
  padding-left: 10px;
}

/* add score section */

.addScore {
  width: 40%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 135px;
  margin-left: 29px;
}

input {
  width: 228px;
  height: 26px;
  padding-left: 20px;
  border: 2px solid #277474;
  border-radius: 5px;
  background-color: #c4eeff;
  opacity: 0.5;
}

.submit {
  width: 80px;
  height: 25px;
  margin-left: 171px;
  color: #fff;
  background-color: rgb(13, 109, 219);
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #2ee59d;
  box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-4px);
  cursor: pointer;
}

.fa-trophy {
  color: #ffd981;
  text-shadow: 1px 0 #fff;
}
